/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
button, input {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.radio:hover {
  transform: scale(1.5);
}

button:hover {
  transform: scale(1.2);
  background-color: salmon;
  color: white;
}

html {
  font-family: 'Roboto', sans-serif;
}

.hero-image {
  background-image: url(./assets/burger-friends.jpg); /* The image used */
  background-color: red; /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin: 0px;
}

/* Header */

.header {
  background-color: #3AB9B2;
  justify-content: space-between;
  display: flex;
  width: 100%;
  position: fixed;
}

.header-text {
  padding-left: 30px;
  color: white;
}

#add-recipe-button {
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 15px;
  border-radius: 5px;
  /* background-color: #95a5a6; */
}

/* Body Boxes*/

.wrapper {
  display: flex;
  justify-content: center;
  background-position: initial;
}

.wrapper > .box {
  height: 410px;
  min-width: 520px;
  background-color: rgba(225, 225, 225, .9);
  margin: 50px;
  position: fixed;
  top: 100px;
}

.box-title {
  font-weight: bold;
  padding: 50px 0px 0px 50px;
}

/* Box Left Contents */

/* .form {
  margin-left: 50px;
  margin-bottom: 30px;
  list-style-type: square;
} */

.asterisk {
  color: red;
}

.radio {
  margin-left: 50px;
  margin-bottom: 30px;
  list-style-type: square;
}

.radio-text {
  font-size: 19px;
}

#lets-cook-button:hover {
  background-color: salmon;
  color: white;
}

#lets-cook-button {
  border: none;
  background-color: #3AB9B2;
  font-size: 15px;
  margin-left: 50px;
  padding: 10px 55px;
  border-radius: 5px;
  position: absolute;
  bottom: 24px;
}

/* Box Right Contents */
#box-left {
  right: 54%;
  left: 67px;
}

#box-right {
  right: 67px;
  left: 54%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

h5 {
  font-style: italic;
  font-size: 19px;
  text-align: center;
  margin-bottom: 0px;
}

.dish {
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  width: 380px;
}

.meal {
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  width: 380px;
}

#cookpot {
  max-height: 150px;
}

#find-recipes-button {
  background-color: cornflowerblue;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  padding: 10px 17px;
  top: 85%;
  left: 10%;
}

#find-recipes-button:hover {
  background-color: salmon;
  color: white;
}

#clear-button {
  background-color: #95a5a6;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  padding: 10px 17px;
  top: 85%;
  left: 74%;
}

#clear-button:hover {
  background-color: salmon;
  color: white;
}

/* RECIPE BAR */
.slider-closed {
	max-height: 0;
}

.slider {
  overflow-y: hidden;
	max-height: 84px; /* approximate max height */

	transition-property: all;
	transition-duration: .4s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#recipe-bar {
  background-color: rgba(225, 225, 225, .9);
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  height: 84px;
}

#recipe-bar > form {
  position: fixed;
  left: 20px;
  font-size: 20px;
  bottom: 0px;
  padding: 10px;
  margin-bottom: 10px;
}

.recipe-input-box {
  height: 38px;
  width: 170px;
}

#recipe-name {
  margin-left: 25px;
}

form > button {
  margin-left: 25px;
  border: none;
  background-color: #3AB9B2;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}

#close-button-block {
  display: flex;
  position: fixed;
  right: 30px;
  bottom: 50px;
  padding: 10px;
}

#close-button:hover {
  transform: scale(1.5, 1.5);
}

#close-button {
  display: flex;
  justify-content: center;
  font-size: 32px;
  background-color: rgba(255, 196, 196);
  height: 40;
  width: 40;
  border-radius: 50%;
  transition: all .2s ease-in-out;
  margin: 0;
  cursor: pointer;
}


/* Other Styling */

.get-big {
  transform: scale(2, 2);
}

.input-required {
  background-color: red;
  color: white;
  }

.input-required::placeholder {
  color: white;
}

.ready {
  background-color: #3AB9B2;
}

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* LOADING ANIMATION */

/* body {
  background-color: black;
  margin: 0;
  padding: 0;
} */
.center {
  display: flex;
  font-size: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%)
}
.center span {
  color:white;
  animation:animate 2s ease infinite alternate;
}
.center span:nth-child(1) {
  animation-delay:.25s;
}
.center span:nth-child(2) {
  animation-delay:.5s;
}
.center span:nth-child(3) {
  animation-delay:.75s;
}
.center span:nth-child(4) {
  animation-delay:1s;
}
.center span:nth-child(5) {
  animation-delay:1.25s;
}
.center span:nth-child(6) {
  animation-delay:1.5s;
}
.center span:nth-child(7) {
  animation-delay:1.75s;
}
.center span:nth-child(8) {
  animation-delay:2s;
}
.center span:nth-child(9) {
  animation-delay:.25s;
}
.center span:nth-child(10) {
  animation-delay:.5s;
}
.center span:nth-child(11) {
  animation-delay:.75s;
}
.center span:nth-child(12) {
  animation-delay:1s;
}
.center span:nth-child(13) {
  animation-delay:1.25s;
}
.center span:nth-child(14) {
  animation-delay:1.5s;
}
@keyframes animate {
  from{font-size:1em}
  to{font-size:3em}
}

.hidden-footer {
  position: absolute !important;
  bottom: -9999px !important;
  left: -9999px !important;
}
